<div id="contactMain"></div>
<h2 class="hfoot">CONTACT US</h2>
<div class="contact11" id="contact11">
    
    <div class="contitem"><span class="contstuff"><img src="/images/footer/map.jpg" alt="map" class="contimg"></span><br>
   <span class=footinfo><h2 class="bb">ADDRESS</h2><br><p>63 Albright Rd, Toronto, ON L6X5E6</p></span>
</div>
    <div class="contitem"><span class="contstuff"><img src="/images/footer/clock.jpg" alt="time" class="contimg"></span>
        <span class=footinfo><h2 class="bb">WORKING HOURS</h2><br><p>MON-FRI 8AM-6PM</p></span>
    </div>
    <div class="contitem"><span class="contstuff"><img src="/images/footer/phone.jpg" alt="phone" class="contimg"></span>
        <span class=footinfo><h2 class="bb">PHONE NUMBER</h2><br><p>+1(416)278-0986</p></span>
</div>
    <div class="contitem"><span class="contstuff"><img src="/images/footer/email.jpg" alt="mail"class="contimg" ></span>
        <span class=footinfo><h2 class="bb">EMAIL</h2><br><p>MON-FRI 8AM-6PM</p></span>
</div>

<iframe class="mapif" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2885.409759828782!2d-79.80001158474832!3d43.68124397912037!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b1459bdd6c57f%3A0x7418df26db50a848!2s63%20Albright%20Rd%2C%20Brampton%2C%20ON%20L6X%205E6!5e0!3m2!1sen!2sca!4v1597125032107!5m2!1sen!2sca" 
width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0">
</iframe><br>

<div class="socialstuff">
    <img src="/images/footer/face.jpg" alt="map" class="socimg">
    <img src="/images/footer/ig1.jpg" alt="map" class="socimg">
    <img src="/images/footer/twitter1.jpg" alt="map" class="socimg">
    <img src="/images/footer/linked.jpg" alt="map" class="socimg">
    <img src="/images/footer/yout.jpg" alt="map" class="socimg">
</div>

</div>
<div class="copystuff">
    Copyright © 2020 Davito, Inc. All Rights Reserved. <a href="">Privacy Policy</a>
</div>