<div class="jobbb"></div>
<div class="loli">

<div class="logo-div">
<img src="/images/dan-logo1.png" alt="logo" class="logo">
<p class="logo-write">Davito Immigration<br> Services</p>
</div>
<nav class= "navtit">
    <a href="" class="titbar">HOME </a>
    <a href="#about" class="titbar">ABOUT US </a>
    <a href="#services" class="titbar">SERVICES </a>
    <a href="https://forms.gle/kQZW18UB4tvEoeGw6" target="_blank" class="titbar" color="red">CONSULTATION FORM</a>
    <a href="#contact" class="titbar">CONTACT </a>
    
</nav>
<i class="fas fa-bars fa-2x line" onclick="openPh(event)"></i>

<div class="phbardiv" id="phbardivv">
    <i class="fa fa-times fa-2x cancel" aria-hidden="true" onclick="openPh(event)"></i>

    <a href="" class="phbar">HOME</a><br>
    <a href="#about" class="phbar">ABOUT</a><br>
    <a href="#services" class="phbar">SERVICES</a> <span></span><br>
    <a href="https://forms.gle/kQZW18UB4tvEoeGw6" target="_blank" class="phbar">BOOK CONSULTATION</a><br>
    <a href="#contact" class="phbar">CONTACT </a><br>
</div>
</div>


<script>
    var phstuff = document.getElementById("phbardivv");

    function openPh(event){
        event.stopPropagation();
        phstuff.classList.toggle("show");
    };

window.onclick=function(event){
       phstuff.classList.remove("show");
};   
</script>


