<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Davito Immigration Services</title>
    <link rel="stylesheet" href="style/style.css" type="text/css" media="all"/>
</head>
<header>
    <%-include("../partials/header.ejs")%>
</header>
<body>
    <%-body%>
    
</body>
<footer>
    <%-include("../partials/footer.ejs")%>
</footer>
</html>