@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Yusei+Magic&display=swap');
@import "shared/header.css";
@import "shared/footer.css";
@import "shared/slider.css";
@import "shared/anime.css";
        *,
        *:after,
        *:before {
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        ::-webkit-scrollbar{
            display: none;
        }

        
        
        body,
        html {
            position: relative;
            height: 100%;
            width: 100%;
            font-family: Arial, Helvetica, sans-serif;
            scroll-behavior: smooth;
        }
        
        body {
            background-color: rgb(0, 0, 0);
            margin: 0;
            
        }

.rcic-logo{
    display: inline;
}
.slideImg{
    width:100%;
    height:15em;
}


.consult-btn{
    position: absolute;
    left: 27%;
    top:60%;
    outline: none;
    text-decoration: none;
    color: white;
    background-color:rgb(11, 107, 197);
    padding: 10px;
    border-radius: 5px;
    font-size: 1em;
    transition: 0.5s ease-in-out;
}

.aff-link{
    text-decoration: none;
    color: white;
}
.consult-btn:hover{
    background-color: white;
    color:  rgb(11, 107, 197);
    
}
.image-container{
    margin:0 auto;
    text-align: center;
    border-top:2px solid rgb(194, 189, 189);
}
.buttSer{
    text-decoration: none;
    font-size: 1em; 
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin:5px;
    padding: 30px;
    font-weight:bold;
    border: none;
    background-color: rgb(255, 255, 255,0.1)
}
.buttSer:hover{
    color: red;
    cursor: pointer;
}  
.dropss{
    width:10em; 
    background-color: rgb(225, 236, 236);
    border:1px solid rgb(225, 236, 236);
    position: absolute;
    left:31%;
    top:150%; 
    display:none;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}
.titserv{
    display:inline;
}   
.titserv:hover .dropss{
    display:block;
}
.serDrop{
    text-decoration: none;
    color: black;
    display:inline-block;
    font-size: 1.1em;
    border-top: 1px solid rgb(197, 195, 195);
    padding:10px;
    width:7.9em
}
.serDrop:hover{
    border-top:3px solid red; 
    cursor: pointer;
    background-color: white;
}
.parame{
  
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
  }

  .artt{
    background-image: linear-gradient(to left, rgb(25, 121, 165) , rgb(0, 0, 0));
    margin: 0;
    padding: 2em;
    text-align: center;
    color: white;
    
   
  }
  h2{
     text-align: center;
  }

article{
    text-align:center;
}

.affiliate-img{
    height: 6em;
    width: 6em;
    margin-left: 2em;
}

.affiliate-flex{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
   padding:5%
    
}
.affiliate{
    background-color: white;
}
.affiliate-words{
    width: 100%;
   
}
.affiliate-header{
    font-size: 1.5em;
}

.affiliate-logo-div{
    margin: auto;
}
.youframe{width:22em; height:17em;margin: 0px auto;}
.subhead{ text-align: center; display: inline-block;margin-top: 10px;}

.show{
    right:0px;
}



main {min-height: 100%;margin-bottom: -100px;}
main:after {content: "";display: block;height: 100px;}
section{margin:0;}


.hfoot{text-align: center;color:rgb( 255, 87, 51);padding-top: 1em;}
.contimg{height:2em;width: 2em;border-radius: 100%; background-color: red;padding:5px;}
.contact11{display: flex;flex-wrap: wrap; margin: 0px auto; margin-top: 2em;text-align: center;
    justify-content: center;color:white}
.contitem{margin:25px;}
.bb{color:rgb(255, 255, 255);}
.mapif{margin-top:3em;width:95%}
.socimg{height:2em; border-radius: 15%;margin:10px;}
.socimg:hover{cursor: pointer;opacity: 0.7;}
.socialstuff{margin-top: 2em;}

.emailsec{height:30em;width:100%; position: fixed;top:20%;
    background-color: rgb(255, 255, 255);margin: 0px auto;
     z-index: 1;text-align: center;}
.emailclass{width: 10em;margin: 10px;padding: 5px;font-size: 1.5em;}
.emailText{width:12.3em; height:5em;padding: 5px;font-size: 1.5em;}
label{text-align: left;font-family: Arial, Helvetica, sans-serif;}

ul{
    text-align: left; display: block;
    display: flex; flex-wrap: wrap;
    margin: auto;
}
li{
    margin: auto;
    display: block;
    width: 100%;
  
    
}


.dan-pic{
    height: 15em;
    width: 15em;
    border: 5px solid white;
    position: relative;
    bottom: 2em;
}
.parayou-img-div{
    float: left;
    margin-right: 5px;
}
.parayou-words-div{
   text-align: justify;
   line-height: 2em;
}

.contact{
    background-image: linear-gradient(to right, rgb(25, 121, 165) , rgb(0, 0, 0));
    color: white;
}
.services{
    background-color:white;
    color: black;
    padding-bottom: 2em;

    
}
h2{
    padding: 1em;
    margin: 0;
}

.socialstuff{
    text-align: center;
}

.form-input{
    height: 2em;
    width: 20em;
}
textarea{
    width: 20em;
    height: 10em;
}

.contact-flex{
    display: flex;
    flex-wrap: wrap;
    
    margin: 0 auto;
    justify-content: space-around;
    
}
.subhead{
    margin-bottom: 2em;
}

.contact-form-div{
    width: 100%;
    margin: auto;
    text-align: center;
}
.contact-also{
    width: 100%;
    margin: auto;
    margin-top: 10px;
    justify-content: center;
    text-align: center;
   
}
.label-div{
 position: relative;
 right:7em;
 margin-top: 1em;
}
.label-message{
    right: 6em;
}

.form-btn{
    outline: none;
    border:none;
    color: white;
    margin-top: 1em;
    margin-bottom: 2em;
    font-size: 1em;
    background-color:rgb(11, 107, 197) ;
    padding: 10px;
    border-radius: 10px 10px;
    position: relative;
    left:6em;
}
.form-btn:hover{
    color:rgb(11, 107, 197)  ;
    background-color:white ;
}
@media(min-width:630px){
    .youframe{width:30em;}
    .slideImg{height:25em;}
    .slide-word-div{
        height:25em;
        width:30%;
        top:5.8em;
    
    }
}

@media(min-width :1085px){
    .affiliate-words{
        width: 50%;
       
    }
    .affiliate-header{
        font-size: 2em;
    }
    .slide-word-div{
        height:30em;
        width:30%;
        top:6.8em;
   
    }
    li{
        width: 45%;
        padding: 1em;
    }
    .li-right{
        text-align: right;
    }
    
    .li-mid{
        text-align: center;
    }
    
    .parayou{width:50%;}
    .parayou2{width:50%;}
    .youframe{width:95%; height:15em}
    .subhead{margin-bottom: 1em;margin-top: 1em;}
    
    .contimg{height:4em;width: 4em;}
    .hfoot{padding-top: 2em;font-size: 2em;}
    .emailsec{width:90%; margin-left: 5%;}

    .consult-btn{
        position: absolute;
        left: 37%;
        top:70%;
        padding: 10px;
        border-radius: 5px;
        font-size: 2em;
    }
    .dan-pic{
        height: 20em;
        width: 20em;
        border: 5px solid white;
        position: relative;
        bottom: 2em;
    }
    .contact-form-div{
        width: 45%;
        margin: auto;
        margin-left: 10%;
        
    }
    .contact-also{
        width: 45%;
        margin: auto;
       
    }
    
}


