footer{height:100%; position: relative;bottom: 0%;left:0%;
    background-image: url("/images/skyline1.jpg");background-repeat: no-repeat;
    width:100%;background-size: cover;background-position: center; background-color: darkblue;font-family: Arial, Helvetica, sans-serif;
}


.copystuff{background-color: rgb(11, 107, 197);text-align: center;padding:5px;color: white;}