<section class="contbody">
    <div class="slide-container">
        <div class="image-container">
            <img src="/images/slide/canada.png" alt="slide" class="slideImg"/>
        </div>
        <div class="image-container">
            <img src="/images/slide/diver1.jpg" alt="slide" class="slideImg"/>
        </div>
        <div class="image-container">
            <img src="/images/slide/flag1.jpg" alt="slide" class="slideImg"/>
        </div>
        <div class="image-container">
            <img src="/images/slide/pass.jpg" alt="slide" class="slideImg"/>
        </div>

       
          
            <a href="https://forms.gle/kQZW18UB4tvEoeGw6" class="consult-btn" target="_blank">BOOK CONSULTATION</a>
       
    </div>

</section>

<section  class="about" id="about">
    <div class="artt">
             <h2 class="subhead">ABOUT US</h2>
        <div class="parame">
        <div class="parayou">
            <img src="/images/dan-pic.jpg" alt="about-pic" class="dan-pic"/>
        </div>    
        <div class="parayou">
            
                <div class="parayou-img-div">
                <img src="/images/rcic-logo1.png" alt="rcic-logo" class="rcic-logo"/> 
                </div>
                <div class="parayou-words-div">
                    <p> 
                    We are licensed and you are protected. Our Director Daniel Enwerem is an Experienced 
                    Canadian Immigration Consultant and a licensed member of the Immigration 
                    Consultants of Canada Regulatory Council, membership number R706074.

                    We offer Canadian Immigration services and advice on applications submitted to Citizenship and Immigration Canada.

                    We serve clients inside and outside Canada. 
                    Save time and money. Call or send us a message to discuss your case.

                </p>
            </div>
             
        </div>

        
        </div> 
    </div>
</section>

<section class="services" id="services">
    <h2>SERVICES</h2>

    <ul>
        <li><h3>Visit</h3>
            We help you with processing the visa document you require to travel to Canada, 
            visit family and friends, do business, or transit through Canada, and how to extend your stay.<br/>
            Book a consultation with us today so we can discuss your Canada immigration plans.
        </li>
        <li><h3>Study</h3>
            We help Students looking to immigrate to Canada to study by securing admissions 
            into reputable schools that meet your budget. We are affiliated to major high schools, 
            colleges and universities in Canada.
            We also prepare and submit your study permit applications for Immigration and follow 
            through until a decision is reached.<br/>
            Book a consultation with us today so we can discuss your Canada education plans.
        </li>
        <li><h3>Immigrate</h3>
            We can help immigrate you and your family permanently to Canada via the various 
            immigration path available, like the express entry, provincial nomination, Canadian 
            experience class, caregiver pathway etc.<br/>
            Book a consultation with us today so we can discuss your Canada immigration plans.
        </li>
        <li><h3>Sponsorship</h3>
            We can help you sponsor your relatives, including your spouse, partner, children, parents, 
            grandparents, and others to immigrate<br/>
            Book a consultation with us today so we can discuss your Canada Sponsorship immigration plans.
            Call or email us today to get started
        </li>
        <li>
            <h3>Others</h3>
            We offer other immigration services like getting into the express entry pool and improving your CRS score, 
            inadmissibility issues, previous visa rejection, visa renewal or citizenship application.
            Schedule a consultation with us so we can discuss your unique immigration problem and provide you 
            with guided solutions for a positive resolution.
        </li>
    </ul>
</section>


<section class="contact" id="contact">
    <h2>CONTACT</h2>
    <div class="contact-flex">
        <div class="contact-form-div">
            <form id="my-form"
            action="https://formspree.io/f/myybqkvl"
            method="POST"
            >
            <div class="form-group">
                <div class="label-div">
                    <label class="form-label">Name</label>
                </div>
                <input type="text" name="name" class="form-input" required />
            </div>

            <div class="form-group">
                <div class="label-div">
                    <label class="form-label">Email</label>
                </div>
                <input type="email" name="email" class="form-input" required/>
            </div>

            <div class="form-group">
                <div class="label-div label-message">
                    <label class="form-label">Message</label>
                </div>
                <textarea name="message" required>

                </textarea>
            </div>
            <button id="my-form-button" class="form-btn">Submit</button>
            <p id="my-form-status"></p>
            </form>
        </div>

        <div class="contact-also">
            <div >
                <i class="fa fa-envelope" aria-hidden="true"></i>
                Send us an email at support@davitoinc.com<br/></br>
                <i class="fa fa-phone" aria-hidden="true"></i>
                Or call +1416-278-0986
            </div>

            <div class="socialstuff">
                <img src="/images/footer/face.jpg" alt="map" class="socimg">
                <img src="/images/footer/ig1.jpg" alt="map" class="socimg">
                <img src="/images/footer/twitter1.jpg" alt="map" class="socimg">
                <img src="/images/footer/linked.jpg" alt="map" class="socimg">
                <img src="/images/footer/yout.jpg" alt="map" class="socimg">
            </div>
        </div>
    
    </div>
</section>
<section class="affiliate">
    <div class="affiliate-flex">
        <div class="affiliate-words">
            <h1>DAVITO IMMIGRATION SERVICES</h1>
            <p>We affiliate with a variety of Schools for admission processing, contact us to find out more.</p>
        </div>
        <div class="affiliate-logo-div">
            <a href="http://www.msaschool.com/home.php" class="aff-link" target="_blank"><img src="/images/msa.png" class="affiliate-img"/></a>
            <a href="https://www.conestogac.on.ca/" class="aff-link" target="_blank"><img src="/images/cc.png" class="affiliate-img"/></a>
        </div>
    </div>
</section>
<script>
    var slideIndex=0;

show()
        function show(){
        var imageCont= document.getElementsByClassName('image-container');
        for(var i =0; i<imageCont.length; i++){
            imageCont[i].style.display="none";
        };

        slideIndex++;

        if(slideIndex>imageCont.length){slideIndex=1};

        imageCont[slideIndex-1].style.display="block";

        setTimeout(show,5000);
        };

        window.addEventListener("DOMContentLoaded", function() {

// get the form elements defined in your form HTML above

var form = document.getElementById("my-form");
var button = document.getElementById("my-form-button");
var status = document.getElementById("my-form-status");

// Success and Error functions for after the form is submitted

function success() {
  form.reset();
  button.style = "display: none ";
  status.innerHTML = "Thank you for your message, we will reach out to you as soon as possible";
}

function error() {
  status.innerHTML = "Oops! There was a problem.";
}

// handle the form submission event

form.addEventListener("submit", function(ev) {
  ev.preventDefault();
  var data = new FormData(form);
  ajax(form.method, form.action, data, success, error);
});
});

// helper function for sending an AJAX request

function ajax(method, url, data, success, error) {
var xhr = new XMLHttpRequest();
xhr.open(method, url);
xhr.setRequestHeader("Accept", "application/json");
xhr.onreadystatechange = function() {
  if (xhr.readyState !== XMLHttpRequest.DONE) return;
  if (xhr.status === 200) {
    success(xhr.response, xhr.responseType);
  } else {
    error(xhr.status, xhr.response, xhr.responseType);
  }
};
xhr.send(data);
}

</script>